.wholecomponents {
  height: 80vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options {
  display: flex;
  justify-content: space-between;
  width: 33%;
}

.listitems {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
}

.footer {
  margin: 10px;
}

.f_address {
  border-top: 2px solid #868e96;
  color: #868e96;
  padding: 15px;
}

.explanation {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagelinks {
  font-size: 20px;
}

.aboutlink,
.storelink {
  margin: 5px;
}

body {
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
